# DS24 Python Lektion 1

## Objekt, identitet, datatyp, värde

### Objekt
All data i Python representeras av objekt. Alla objekt har:
* en identitet
* en datatyp
* ett värde

In [1]:
my_name = "Linus"

In [2]:
# Identitet
id(my_name)

1596904306128

In [3]:
# Datatyp
type(my_name)

str

In [4]:
# Värde
print(my_name)

Linus

I en notebook behöver vi inte använda `print()` för att skriva ut värdet.

In [5]:
my_name

'Linus'

## Datatyper

### `str`, `int`, `float`

In [6]:
my_age = 44

In [7]:
type(my_age)

int

In [8]:
# Anropa metoden .upper() på my_name
my_name.upper()

'LINUS'

In [9]:
# Anropa metoden .upper() på my_age
my_age.upper()

AttributeError: 'int' object has no attribute 'upper'

In [10]:
2024 - my_age

1980

In [11]:
a = 42
b = "23"

In [12]:
type(a), type(b)

(int, str)

In [13]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
a * b

'232323232323232323232323232323232323232323232323232323232323232323232323232323232323'

In [15]:
b

'23'

In [16]:
int(b)

23

In [17]:
a + int(b)

65

In [18]:
id(b) == id(int(b))

False

In [19]:
int("tjugotre")

ValueError: invalid literal for int() with base 10: 'tjugotre'

In [20]:
c = 2.72

In [21]:
type(c)

float

In [22]:
a * c

114.24000000000001

### `tuple` och `list`

In [23]:
my_tuple = (2, 72, 'hello', 2.27)

In [24]:
my_tuple

(2, 72, 'hello', 2.27)

In [25]:
type(my_tuple)

tuple

Indexering. Börjar på `0`.

In [28]:
my_tuple[-1]

2.27

Slicing

In [32]:
my_tuple[1:]

(72, 'hello', 2.27)

`tuples` är *immutable*.

In [33]:
my_tuple[0] = 23

TypeError: 'tuple' object does not support item assignment

In [34]:
my_list = [2, 72, 'hello', 2.27]

In [35]:
my_list

[2, 72, 'hello', 2.27]

In [36]:
my_list[0] = 23

In [37]:
my_list

[23, 72, 'hello', 2.27]

In [38]:
my_list.append('last element')

In [39]:
my_list

[23, 72, 'hello', 2.27, 'last element']

In [40]:
my_tuple.append('last element')

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
id(my_list)

1596919070016

In [42]:
my_list.append('last last element')

In [43]:
id(my_list)

1596919070016

In [44]:
id(my_age)

140709780995864

In [45]:
my_age = my_age + 1

In [46]:
my_age

45

In [47]:
id(my_age)

140709780995896

In [48]:
my_list.insert(0, 'first element')

In [49]:
my_list

['first element', 23, 72, 'hello', 2.27, 'last element', 'last last element']

In [50]:
my_list.remove('hello')

In [51]:
my_list

['first element', 23, 72, 2.27, 'last element', 'last last element']

In [52]:
my_list.remove(1014)

ValueError: list.remove(x): x not in list

In [53]:
my_list.pop(4)

'last element'

In [54]:
my_list

['first element', 23, 72, 2.27, 'last last element']

In [55]:
my_list.pop(24)

IndexError: pop index out of range

### `dict`

En `dict` (*dictionary*) består av nyckel-värde-par (*key-value pairs*). De definieras inom `{}`.

In [ ]:
my_dict = {'key': 'value'}

In [ ]:
type(my_dict)

In [ ]:
my_dict['key']

In [ ]:
shopping_list = {'tomatoes': 8, 'onions': 6, 'potatoes': 10}

In [ ]:
shopping_list['tomatoes']

In [ ]:
shopping_list.keys()

In [ ]:
shopping_list.values()

In [ ]:
shopping_list.items()

In [ ]:
shopping_list['beans'] = 12

In [ ]:
shopping_list

In [ ]:
shopping_list['beans'] = 18

In [ ]:
shopping_list

In [ ]:
data = {'names': ['Linus', 'Petter', 'Karl'], 'ages': [44, 42, 38]}

In [ ]:
matrix = [[0, 2, 4],
          [5, 3, 6],
          [8, 7, 2]]

## `set`

In [ ]:
my_list_2 = [2, 45, 65, 21, 21, 2, 89]

In [ ]:
my_set = set(my_list_2)

In [ ]:
a = 21
b = 21

id(a) == id(b)

In [ ]:
A = {1, 2, 4, 6, 7}
B = {1, 5, 12, 7}

In [ ]:
A.union(B)

In [ ]:
A.intersection(B)