# Uppgifter, Kapitel 2 - Datatyper

1. Addera de två talen nedan och spara resultaten i en variabel som heter my_result. Printa ut variabeln my_result.

In [78]:
num_1 = 5
num_2 = 3

In [80]:
my_result = num_1 + num_2
my_result

8

2. Multiplicera de två talen nedan och spara resultaten i en variabel som heter my_mult_result. Printa ut variabeln my_mult_result.

In [82]:
number_1 = 10
number_2 = 7

In [84]:
my_mult_result = number_1 * number_2
my_mult_result

70

3. Förklara vad nedanstående kod gör.

In [86]:
10 % 3

1

4. Vi vet att 27/6 = 4.5. Förklara vad nedanstående kod gör.

In [92]:
27//6

4

5. Vad är fel i nedanstående kod? Rätta till koden så det fungerar.

In [96]:
print('it\'s fun to learn Python!')

it's fun to learn Python!

In [3]:
print("it's fun to learn Python!")

it's fun to learn Python!

6. Vad gör nedanstående kod?

In [100]:
print("ha"*10)

hahahahahahahahahaha

7. Extrahera namnet "Anna" från strängen nedan genom att göra en "slice".

In [11]:
full_name = "Anna Andersson"

In [102]:
full_name[0:4]

'Anna'

8. Hur många tecken har strängen nedan? Använd len() funktionen.

In [5]:
full_name = "Anna Andersson"

In [7]:
len(full_name)

14

In [128]:
names = ["Anna Andersson-Johansson", "Erik Persson", "Johanna Eklund"]

In [132]:
for name in names:
    print(name.split()[0])

Anna
Erik
Johanna

9. a) Genom att använda en f-string med de två variablerna "founder" och "language", printa ut texten "Hello Guido, Python is really fun to learn!"
    
   b) Du vill nu skriva ut hela namnet "Guido van Rossum" så texten blir "Hello Guido van Rossum, Python is really fun to learn!", gör det genom att ändra namnet i variabeln founder och exekvera din f-string på nytt.

In [134]:
founder = "Guido"
language = "Python"

In [136]:
print(f'Hello {founder}, {language} is really fun to learn!')

Hello Guido, Python is really fun to learn!

In [138]:
founder = "Guido Van Rossum"

In [140]:
print(f'Hello {founder}, {language} is really fun to learn!')

Hello Guido Van Rossum, Python is really fun to learn!

10. Varför blir koden nedan fel?

In [142]:
my_first_tuple = (10, 5, 'hi', 3)

In [144]:
my_first_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

In [146]:
my_list = list(my_first_tuple)

In [150]:
my_list[1] = 10

In [152]:
my_list

[10, 10, 'hi', 3]

11. Vad gör koden nedan?

In [154]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [160]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

languages
apples
C

12. Kolla på vilken typ variabeln "my_tuple" har genom att använda type() funktionen.

In [162]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [164]:
type(my_tuple)

tuple

13. Vad gör koden nedan?

In [166]:
my_first_list = [10, 5, 'hi', 3]

In [168]:
my_first_list[1] = 7

In [170]:
my_first_list

[10, 7, 'hi', 3]

14. Se vilken typ variabeln "my_first_list" har genom att använda type() funktionen.

In [ ]:
my_first_list = [10, 5, 'hi', 3]

In [172]:
type(my_first_list)

list

15. Beräkna antalet element i variabeln "shopping_list" genom att använda len() funktionen.

In [174]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

In [176]:
len(shopping_list)

5

16. Vi glömde att lägga till bröd ("bread" på engelska) i vår shopping lista. Gör det genom att använda append() metoden och printa ut den nya shopping listan.

In [222]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

In [180]:
shopping_list.append('bread')
shopping_list

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

In [200]:
shopping_list.insert(0, 'chocolate')

In [204]:
shopping_list

['chocolate', 'apple', 'banana', 'grapes', 'eggs', 'more chocolate', 'milk']

In [208]:
shopping_list.remove('milk')

In [210]:
shopping_list

['chocolate', 'apple', 'banana', 'grapes', 'eggs', 'more chocolate']

In [212]:
shopping_list.pop(2)

'banana'

In [214]:
shopping_list

['chocolate', 'apple', 'grapes', 'eggs', 'more chocolate']

In [216]:
shopping_list.remove('tomatoes')

ValueError: list.remove(x): x not in list

17. Beräkna antalet gånger siffran 7 finns i listan "my_numbers". Använd count() metoden.

In [218]:
shopping_list.clear()

In [228]:
shopping_list.append('bread')

In [234]:
shopping_list.remove('bread')

In [236]:
shopping_list

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

In [238]:
my_numbers = [1, 7, 2, 7, 10, 7]

In [240]:
my_numbers.count(7)

3

18. Konvertera "one_tuple" till en lista och spara det i en variabel som heter "one_list".

In [242]:
one_tuple = (10, 5, 3)

In [244]:
one_list = list(one_tuple)
one_list

[10, 5, 3]

19. Vad gör nedanstående kod?

In [246]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}

In [248]:
my_first_dict['Goran']

19

20. Kolla på vilken typ variabeln "my_first_dict" har genom att använda type() funktionen.

In [250]:
type(my_first_dict)

dict

21. Varför printas element 5 endast ut en gång i koden nedan?

In [252]:
my_set = {10, 5, 2, 5, 5} 
print(my_set)

{10, 2, 5}

22. Vi har definierat de två mängderna A och B nedan. 

a) Hitta alla element som är i både A och B. Använd intersection() metoden. 

b) Hitta alla element som är i A och/eller B. Använd union() metoden. 

c) Hitta alla element som är i A men inte i B. Använd difference() metoden.

In [254]:
A = {1, 2, 3, 4, 5} 
B = {3, 10, 5, 7}

In [256]:
A.intersection(B)

{3, 5}

In [258]:
A.union(B)

{1, 2, 3, 4, 5, 7, 10}

In [260]:
A.difference(B)

{1, 2, 4}

In [262]:
B.difference(A)

{7, 10}

23. Vi har definierat det två listorna "list_a" och "list_b" nedan. Nedanstående uppgifter kan enkelt lösas genom att konvertera de definierade listorna till mängder först. 

a) Hitta alla element som är i både list_a och list_b.

b) Hitta alla element som är i list_a och/eller list_b.

In [264]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]

In [266]:
A = set(list_a)
B = set(list_b)

In [268]:
A.intersection(B)

{5}

In [270]:
A.union(B)

{1, 2, 3, 4, 5, 6, 10, 21}

24. Hitta alla unika element i variabeln "duplicate_values" genom att konvertera "tuplen" till en "set".

In [272]:
duplicate_values = (10, 2, 2, 10, 1)

In [274]:
set(duplicate_values)

{1, 2, 10}