# Uppgifter, Kapitel 4 - Loopar och iterationer

1. Printa ut alla element i listan "looping_list" med en for loop.

In [1]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [2]:
for element in looping_list:
    print(element)

0
a
b
[1, 2, 3]
('Python', 'R', 'C', 'Java')
55

In [4]:
for el in looping_list[4]:
    print(el)

Python
R
C
Java

2. Printa ut alla element i listan "looping_list" med en for loop och printa även ut vilken iteration det är genom att använda funktionen enumerate().

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [9]:
for (index, value) in enumerate(looping_list):
    if index % 2 == 0:
        print(index, value)

0 0
2 b
4 ('Python', 'R', 'C', 'Java')

3. Printa ut talen 0, 5, 10, 15, 20 med en for-loop där du använder range() funktionen.

In [18]:
for i in range(21):
    if i % 5 == 0:
        print(i)

0
5
10
15
20

In [14]:
for i in range(0, 21, 5):
    print(i)

0
5
10
15
20

4. Skriv en for loop för att printa ut varje bokstav separat i variabeln "for_string".

In [19]:
for_string = 'Python!'

In [20]:
for c in for_string:
    print(c)

P
y
t
h
o
n
!

In [21]:
i = 0

while i < 5:
    print(i)
    i += 1 # Samma sak som i = i + 1

0
1
2
3
4

In [25]:
i = 0

while True:
    print(i)
    i += 1
    if i > 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [23]:
i

457121496

5. Skriv en while loop för att printa ut varje bokstav separat i variabeln "while_string".

In [26]:
while_string = 'Is Awesome!'

In [27]:
len(while_string)

11

In [28]:
i = 0
while i < len(while_string):
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e
!

6. Printa ut talen 1, 2, 3, ..., 10 med en while loop.

In [29]:
i = 1

while True:
    print(i)
    i += 1
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10

7. Printa ut alla tal som är delbara med 5 i listan som är sparad i variabeln "numbers". För att se om ett tal är delbart med 5 så kan du använda modulo operatorn "%". Ett tal är delbart med 5 om dess rest är 0 när det delas med 5.

In [30]:
numbers = [10, 20, 34, 46, 55]

In [31]:
for number in numbers:
    if number % 5 == 0:
        print(number)

10
20
55

In [34]:
new_numbers = [number for number in numbers if number % 5 == 0]

In [35]:
new_numbers

[10, 20, 55]

In [33]:
numbers

[10, 20, 34, 46, 55]

8. Förklara vad nedanstående kod gör.

In [40]:
my_list = [] 

for i in range(10):
    if i % 2 == 0:
        my_list.append(i)
    else:
        my_list.append(i * 10)

print(my_list)

[0, 10, 2, 30, 4, 50, 6, 70, 8, 90]

In [55]:
[i**2 if i % 2 == 0 else 2**i for i in range(10)]

[0, 2, 4, 8, 16, 32, 36, 128, 64, 512]

9. Använd en for loop för att skapa en ny lista från "list_example", där varje tal är multiplicerat med 10. Du skall endast inkludera talen mellan 4-8 där 4 och 8 är inkluderat från "list example".

In [44]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
my_list = []

for i in list_example:
    if 4 <= i <= 8:
        my_list.append(i * 10)

print(my_list)

[40, 50, 60, 70, 80]

10. Förklara vad nedanstående kod gör.

In [52]:
for i in range(9):
    if i in (5, 7, 8):
        continue 
    if i > 10:
        break
    print(i)
else: 
    print('We are done!')

print('And now for something completely different')

0
1
2
3
4
6
We are done!
And now for something completely different