# Uppgifter, Kapitel 4 - Loopar och iterationer

1. Printa ut alla element i listan "looping_list" med en for loop.

In [35]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [37]:
for element in looping_list:
    print(element)

0
a
b
[1, 2, 3]
('Python', 'R', 'C', 'Java')
55

2. Printa ut alla element i listan "looping_list" med en for loop och printa även ut vilken iteration det är genom att använda funktionen enumerate().

In [5]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [43]:
for element in enumerate(looping_list):
    print(element)

(0, 0)
(1, 'a')
(2, 'b')
(3, [1, 2, 3])
(4, ('Python', 'R', 'C', 'Java'))
(5, 55)

In [47]:
for i, element in enumerate(looping_list):
    print(f'{i}: {element}')

0: 0
1: a
2: b
3: [1, 2, 3]
4: ('Python', 'R', 'C', 'Java')
5: 55

3. Printa ut talen 0, 5, 10, 15, 20 med en for-loop där du använder range() funktionen.

In [53]:
for i in range(0, 21, 5):
    print(i)

0
5
10
15
20

4. Skriv en for loop för att printa ut varje bokstav separat i variabeln "for_string".

In [55]:
for_string = 'Python!'

In [61]:
for c in for_string:
    print(c)

P
y
t
h
o
n
!

5. Skriv en while loop för att printa ut varje bokstav separat i variabeln "while_string".

In [1]:
while_string = 'Is Awesome!'

In [3]:
i = 0
while i < len(while_string):
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e
!

6. Printa ut talen 1, 2, 3, ..., 10 med en while loop.

In [5]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

7. Printa ut alla tal som är delbara med 5 i listan som är sparad i variabeln "numbers". För att se om ett tal är delbart med 5 så kan du använda modulo operatorn "%". Ett tal är delbart med 5 om dess rest är 0 när det delas med 5.

In [7]:
numbers = [10, 20, 34, 46, 55]

In [9]:
for i in numbers:
    if i % 5 == 0:
        print(i)

10
20
55

8. Förklara vad nedanstående kod gör.

In [11]:
my_list = [] 

for i in range(10):
    if i % 2 == 0:
        my_list.append(i)

print(my_list)

[0, 2, 4, 6, 8]

9. Använd en for loop för att skapa en ny lista från "list_example", där varje tal är multiplicerat med 10. Du skall endast inkludera talen mellan 4-8 där 4 och 8 är inkluderat från "list example".

In [13]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
my_list = []
for i in list_example:
    if i >= 4 and i <= 8:
        my_list.append(i*10)

my_list

[40, 50, 60, 70, 80]

10. Förklara vad nedanstående kod gör.

In [25]:
for i in range(9):
    if i in (5, 7, 8):
        continue 
    if i > 10: 
       # break
        pass
    print(i)
else: 
    print('We are done!')

0
1
2
3
4
6
We are done!